---
import Layout from "../../layouts/Layout.astro";
import FixedNavigation from "../../components/FixedNavigation.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { getCollection } from "astro:content";

export const prerender = true;

const articles = await getCollection("blog");
---

<script is:inline>
  document.addEventListener(
    "astro:page-load",
    async () => {
      const baseURL = `${window.location.protocol}//${window.location.host}`;
      const articleViews = await fetch(`${baseURL}/views/getAllViews`)
        .then((res) => res.json())
        .catch((err) => {
          console.error(err);
          return 0;
        });
      articleViews.map(({ identifier, views }) => {
        const viewsElement = document.getElementById(`${identifier}-views`);
        if (viewsElement) viewsElement.textContent = `${views} views`;
      });
    },
    { once: true }
  );
</script>

<Layout
  title="Issam Boubcher's Blog"
  description="Issam Boubcher is a Software Engineering and Distributed Computed Systems student at ENSET."
  thumbnail="/landing-page-thumbnail.png"
>
  <FixedNavigation />
  <main class="pt-16 mx-8 sm:px-0 space-y-4">
    <h2 class="text-xl font-bold text-gray-300">My Articles</h2>
    {
      articles.map((article) => (
        <ArticleCard
          title={article.data.title}
          identifier={article.slug}
          date={new Date(article.data.date).toLocaleString("en-US", {
            month: "short",
            day: "numeric",
            year: "numeric",
          })}
          description={article.data.description}
        />
      ))
    }
  </main>
</Layout>
