---
import { Image } from "astro:assets";
import IssaminuLogo from "../assets/Issaminu Logo LIGHT.png";
import OpenJournal from "../assets/open journal.png";
import EnsetGPT from "../assets/EnsetGPT.png";
import StellantisProjectManager from "../assets/Stellantis Project Manager.png";
import DistributedDonut from "../assets/Distributed Donut.png";
import PhoneJobing from "../assets/phone jobing.png";
import SkylineApp from "../assets/skyline.png";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import ProjectCard from "../components/ProjectCard.astro";
import FixedNavigationHome from "../components/FixedNavigationHome.astro";

export const prerender = true;
---

<Layout
  title="Issam Boubcher"
  description="Issam Boubcher is a Software Engineering and Distributed Computed Systems student at ENSET."
  thumbnail="/landing-page-thumbnail.png"
>
  <FixedNavigationHome />
  <main class="pt-10 mx-8 sm:mx-0 sm:pt-44">
    <div class="mb-28">
      <div class="flex gap-2 lg:gap-6">
        <Image
          src={IssaminuLogo}
          alt="Issaminu's logo"
          class="rounded-full w-24 h-24"
          loading={"eager"}
          format="avif"
        />
        <div class="flex flex-col justify-center">
          <h1 class="text-4xl font-bold w-fit silver-gradient drop-shadow-2xl">
            Issam Boubcher
          </h1>
          <p class="text-gray-400 text-lg font-light">
            <span class="sm:hidden"> CS student at</span>
            <span class="hidden sm:inline"> Computer Science student at</span>
            <span
              title="Ecole Normale Supérieure de l'Enseignement Technique"
              class="text-gray-450 bg-gray-700 text-sm rounded-sm font-bold tracking-widest hover:bg-sky-800 hover:text-white transition duration-300 ease-in-out"
            >
              &nbsp;ENSET&nbsp;</span
            >
          </p>
        </div>
      </div>
      <p class="text-gray-100 text-lg mt-8 text-justify">
        Welcome to my little corner of the internet! Here I chronicle my journey
        and share insights and ideas that have enriched my learning experience.
        This website serves as a hub for my portfolio of projects, my
        reflections the world around me, and the little gems I find on the
        internet.
      </p>
      <Navigation />
    </div>
    <div class="mt-16">
      <h2 class="text-xl font-bold text-gray-300">Latest Projects</h2>
      <div class="mt-4">
        <ul class="space-y-4">
          <ProjectCard
            title="Distributed Donut"
            body="A distributed computing system for real-time rendering and broadcasting of ASCII."
            thumbnail={DistributedDonut}
            hrefGithub="https://github.com/Issaminu/distributed-donut"
            stack={[
              "Go",
              "donut.c",
              "Web Workers",
              "WebSockets",
            ]}
          />
          <ProjectCard
            title="Stellantis Project Manager"
            body=" A web plateform for managing vehicule simulation activities at Stellantis."
            thumbnail={StellantisProjectManager}
            hrefDoc="/pdf/Stellantis Project Manager Report.pdf"
            stack={[
             "TypeScript",
              "React",
              "Next.js",
              "shadcn/ui",
              "Prisma",
              "Nginx",
            ]}
          />
          <ProjectCard
            title="EnsetGPT"
            body="A CLI chatbot for conversing & asking questions about all things ENSET."
            thumbnail={EnsetGPT}
            hrefGithub="https://github.com/Issaminu/EnsetGPT"
            stack={[
              "Python",
              "LangChain",
              "OpenAI",
              "ChromaDB",
              "Beautiful Soup",
            ]}
          />
          <ProjectCard
            title="The Open Journal"
            body="An open space for anyone to express their thoughts on the internet."
            thumbnail={OpenJournal}
            hrefDemo="https://open-journal.issaminu.com"
            hrefGithub="https://github.com/Issaminu/open-journal"
            stack={[
              "TypeScript",
              "React",
              "Next.js",
              "Prisma",
              "PostgreSQL",
              "Vercel",
            ]}
          />
          <ProjectCard
            title="Skyline App"
            body="A living space co-ownership application for facilitating shared arrangements."
            thumbnail={SkylineApp}
            hrefGithub="https://github.com/Issaminu/skyline-app"
            stack={[
              "JavaScript",
              "React",
              "Next.js",
              "Prisma",
              "MySQL",
              "Auth0",
            ]}
          />
          <ProjectCard
            title="Phone Jobing"
            body="A fully-featured telephone sales plateform for call centers."
            thumbnail={PhoneJobing}
            hrefDemo="https://phone-jobing.issaminu.com"
            hrefGithub="https://github.com/Issaminu/PhoneJobing"
            stack={[
              "PHP",
              "Laravel",
              "JavaScript",
              "MySQL",
              "Amazon S3",
              "Compute Engine",
            ]}
          />
        </ul>
      </div>
    </div>
  </main>
</Layout>
