---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Technology from "./Technology.astro";
interface Props {
  title: string;
  body: string;
  hrefDemo?: string;
  hrefGithub: string;
  stack: string[];
  thumbnail: ImageMetadata;
}

const { title, body, hrefDemo, hrefGithub, stack, thumbnail } = Astro.props;
---

<li
  class="h-50 group rounded-xl shadow-lg border-2 border-sky-800/50 px-4 py-4 backdrop-blur-2xl bg-[#183f5a]/30 hover:bg-[#a5adb4]/10 transition duration-300 ease-in-out"
>
  <div class="flex flex-col md:flex-row h-fit">
    <a
      href={hrefDemo ? hrefDemo : hrefGithub}
      target="_blank"
      class="md:min-w-64 h-fit md:hover:scale-105 transition duration-300 ease-in-out"
    >
      <Image
        class="rounded-lg md:w-64 md:aspect-[3.7/2] object-cover shadow-2xl silver-filter group-hover:filter-none"
        src={thumbnail}
        alt=`Screenshot of ${title} website`
        widths={[768, 370]}
        sizes={`(max-width: 768px) 768px,  370px`}
      />
    </a>

    <div
      class="mt-2 ml-1 md:mt-0 flex flex-col justify-between min-h-full w-full"
    >
      <div class="md:pl-3">
        <h2 class="text-2xl font-semibold silver-gradient">{title}</h2>
        <p class="md:pl-1 mt-1 md:mr-3">{body}</p>
      </div>
      <div
        class=`md:pl-3 mt-3 md:mt-2 flex flex-row justify-around md:justify-between w-full gap-3 sm:gap-4 md:gap-3`
      >
        <a
          href={hrefGithub}
          target="_blank"
          class={`${
            hrefDemo ? " w-full" : "min-w-full"
          } md:w-full h-12 md:h-fit`}
        >
          <button
            class="w-full h-full text-center text-xs sm:text-sm bg-gray-800/40 hover:bg-gray-800 transition duration-300 ease-in-out text-white flex flex-row justify-center items-center gap-2 rounded-lg px-4 py-2 border border-sky-900/50"
          >
            <Icon name="github" class="group-hover:fill-white h-4 w-4" />
            Repository
          </button>
        </a>
        {
          hrefDemo && (
            <a
              href={hrefDemo}
              target="_blank"
              class="w-full md:w-full h-12 md:h-fit"
            >
              <button class="w-full h-full text-center text-xs sm:text-sm bg-gray-800/40 hover:bg-gray-800 transition duration-300 ease-in-out text-white flex flex-row justify-center items-center gap-2 rounded-lg px-4 py-2 border border-sky-900/50">
                Demo
                <Icon
                  name="external-link"
                  class="group-hover:fill-white h-4 w-4"
                />
              </button>
            </a>
          )
        }
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-2 md:gap-1 mt-5 md:mt-3 flex-wrap">
    <span class="md:text-sm h-fit mr-2 md:mr-0 pt-0.5 md:pt-0 font-medium"
      >Stack:</span
    >
    {stack.map((item) => <Technology name={item} />)}
  </div>
</li>
