---
import { Icon } from "astro-icon/components";
interface Props {
  name: string;
  icon: string;
  href: string;
}
const { name, icon, href } = Astro.props;
const isExternal = href.startsWith("https");
---

{
  isExternal ? (
    <a
      href={href}
      target="_blank"
      class="items-center group font-semibold text-lg gap-1 transform hover:scale-110 transition-transform duration-300 flex justify-start"
    >
      <span class="text-gray-400 group-hover:text-white flex flex-col sm:flex-row items-center sm:gap-1">
        <Icon name={icon} class="group-hover:fill-white" />
        {name}
      </span>
      <div class="w-0 invisible group-hover:visible">
        <Icon name="external-link" class="w-3 h-3 hover:fill-cyan-700" />
      </div>
    </a>
  ) : (
    <a
      href={href}
      class="font-semibold group gap-1 text-lg transform hover:scale-110 transition-transform duration-300 flex justify-start"
    >
      <span class="text-gray-400 group-hover:text-white flex flex-col sm:flex-row items-center sm:gap-1">
        <Icon name={icon} class="group-hover:fill-white" />
        {name}
      </span>
    </a>
  )
}
