---
import GradientBackground from "../components/GradientBackground.tsx";
import SpeedInsights from "@vercel/speed-insights/astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  thumbnail: string;
}

const { title, description, thumbnail } = Astro.props;
const baseUrl = Astro.url.origin;
const url = baseUrl + Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta content="utf-8" http-equiv="encoding" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href=`${baseUrl}/favicon.ico` />

    <meta property="og:site_name" content="Issam Boubcher" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={thumbnail} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="issaminu.com" />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta
      name="twitter:description"
      content="A curated list of docs and articles that are merging the lines between static and interactive content; active and passive learning."
    />
    <meta name="twitter:image" content={thumbnail} />

    <link
      href=`${baseUrl}/light-mode-favicon.ico`
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href=`${baseUrl}/dark-mode-favicon.ico`
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <SpeedInsights />
  </head>
  <body
    class="mb-8 relative z-10 grid grid-cols-[1fr,min(640px,100%),1fr] xl:grid-cols-[1fr,minmax(auto,240px),min(640px,100%),minmax(auto,240px),1fr] xl:gap-x-9 xl:px-0 [&>*]:col-start-2 xl:[&>*]:col-start-3"
  >
    <GradientBackground client:idle transition:persist />
    <slot />
    <style is:global>
      @font-face {
        font-family: inter;
        src: url(/fonts/Inter-VariableFont_slnt,wght.woff2);
      }
      html {
        font-family: inter, system-ui, sans-serif;
        background: #212121;
        color: #d2d4d5;
        cursor: default;
      }

      ::selection {
        background-color: #004576;
      }

      .silver-gradient {
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
        --tw-gradient-from: #fff var(--tw-gradient-from-position);
        --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-via-position: 5%;
        --tw-gradient-to: #9ca3af var(--tw-gradient-to-position);
        background-clip: text;
        color: transparent;
      }

      .silver-gradient::selection {
        color: white;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
